$brand-400: #547070;
$brand-500: #304242;
$brand-600: #212D2D;
$brand-700: #172626;
$brand-800: #111C1C;
$brand-900: #061111;
$brand-muted: #121C1D;

$text: #A9C0C0;
$heading: #FFFFFF;
$text-faint: $brand-400;

$glow: 0 0 25px rgba(255, 255, 255, 0.25);