$brand-50: #EAF0F0;
$brand-100: #C9D8D8;
$brand-200: #A9C0C0;
$brand-300: #7A9B9B;
$brand-400: #547070;
$brand-500: #304242;
$brand-600: #212D2D;
$brand-700: #172626;
$brand-800: #111C1C;
$brand-900: #061111;

$brand-muted: #121C1D;

$text: #A9C0C0;
$heading: $brand-50;
$text-faint: $brand-400;

$glow: 0 0 25px rgba(255, 255, 255, 0.25);